body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 200px;
}

#luz {
  width: 150px;
  height: 150px;
  background-color: gray;
  border-radius: 50%;
  margin: 18px auto;
}

button {
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
}